@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #f8e5db;
  --foreground: #171717;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Arya", sans-serif;
  font-weight: 500;
  font-style: normal;
}
